<ion-view view-title="Mis Incidencias">
    <ion-content>
        <ul class="list">
            <li class="item" ng-repeat="issue in issues">
                <b>{{ issue.city }} - {{ issue.county }}</b>
                <p class="cursive">{{ issue.created | date : 'EEEE' }} {{ issue.created | date : 'dd' }} {{ issue.created | date : 'MMMM' }} {{ issue.created | date : 'yyyy' }}</p>
                <p>{{ issue.description | limitTo : 40 }}</p>
            </li>
        </ul>
    </ion-content>
</ion-view>
