<ion-view view-title="Dashboard">
  <ion-content>
      <a href="">
          <div class="card">
              <div class="item item-divider item-positive">
                  Incidencias por Provincia
              </div>
              <ul class="list">
                  <li class="item" ng-repeat="top in data.topcities">
                      <b>{{ top.city }} - {{ top.matches }}</b>
                  </li>
              </ul>
          </div>
      </a>
      <a href="">
          <div class="card">
              <div class="item item-divider item-positive">
                  Incidencias por Ciudad
              </div>
              <div class="item item-text-wrap">
                  Consulta las ciudades con mayor número de incidencias.
              </div>
          </div>
      </a>
  </ion-content>
</ion-view>
