<ion-view view-title="Mis Incidencias">
    <ion-content>
        <ul class="list">
            <li class="item" ng-repeat="issue in issues">
                <ion-item class="item-avatar" type="item-text-wrap" href="#/tab/issues/detail">
                    <div class="bar bar-header bar-{{ issue.color }}">
                        <h1 class="title">{{ issue.type.name }}</h1>
                    </div>
                    <b>{{ issue.city }} - {{ issue.county }}</b>
                    <p class="cursive">{{ issue.created | date : 'EEEE' }} {{ issue.created | date : 'dd' }} {{ issue.created | date : 'MMMM' }} {{ issue.created | date : 'yyyy' }}</p>
                    <p>{{ issue.description | limitTo : 40 }}</p>
                </ion-item>
            </li>
        </ul>
    </ion-content>
</ion-view>
