<ion-view view-title="Dashboard">
  <ion-content>
      <a href="">
          <div class="card">
              <div class="item item-divider item-positive">
                  Incidencias por Provincia
              </div>
              <div class="item item-text-wrap">
                  Consulta el porcentaje de incidencias en cada provincia.
              </div>
          </div>
      </a>
      <a href="">
          <div class="card">
              <div class="item item-divider item-positive">
                  Incidencias por Ciudad
              </div>
              <div class="item item-text-wrap">
                  Consulta el porcentaje de incidencias en cada ciudad.
              </div>
          </div>
      </a>
      <a href="">
          <div class="card">
              <div class="item item-divider item-positive">
                  Incidencias por Tipo
              </div>
              <div class="item item-text-wrap">
                  Consulta el porcentaje de incidencias por su tipo.
              </div>
          </div>
      </a>
  </ion-content>
</ion-view>
