<ion-view view-title="Issue">
    <ion-content>
        <form ng-submit="" id="issues-form">
            <div class="item item-input item-select">
                <div class="input-label">
                    Tipo de Incidencia
                </div>
                <select ng-model="opt">
                    <option ng-repeat="item in issueTypes" value="{{ item.id }}">{{ item.name }}</option>
                </select>
            </div>
            <div class="list">
                <label class="item item-input">
                    <textarea ng-model="description" placeholder="Descripción"></textarea>
                </label>
                <div class="padding" ng-controller="IssuesCtrl">
                    <button type="submit" class="button button-block button-positive" ng-click="test()">Enviar</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>
