
/* Empty. Add your own CSS if you like */

.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

#issues-form .padding {
    padding-top: 60px;
}

#issues-form .item {
    top: 30px;
}

a:link {
    text-decoration: none;
}
