
/* Empty. Add your own CSS if you like */

.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

#issues-form .padding {
    padding-top: 60px;
}

#issues-form .item {
    top: 30px;
}

a:link {
    text-decoration: none;
}

.cursive {
    font-style: italic;
}

.list .bar-header {
    position: static;
    margin-bottom: 10px;
}

.list .bar-header h1 {
    text-align: left;
}

.wrapper-issue-details .item-avatar {
    padding-left: 16px;
    background-color: #111111;
}

.wrapper-issue-details .item-avatar h2,
.wrapper-issue-details .item-avatar p {
    color: #ffffff;
}